.n-tabs-nav--segment-type {
  position: relative;
}

.n-menu.n-menu--horizontal
  .n-menu-item-content.n-menu-item-content--child-active {
  --n-item-text-color-child-active-horizontal: var(--primary-color);
  --n-item-icon-color-child-active-horizontal: var(--primary-color);
  --n-item-text-color-child-active-hover-horizontal: var(--primary-color);
  --n-item-icon-color-child-active-hover-horizontal: var(--primary-color);
  --n-border-color-horizontal: var(--primary-color);
}

.n-menu.n-menu--horizontal .n-menu-item-content.n-menu-item-content--selected {
  --n-item-text-color-active-horizontal: var(--primary-color);
  --n-item-icon-color-active-horizontal: var(--primary-color);
  --n-border-color-horizontal: var(--primary-color);
  --n-item-text-color-active-hover-horizontal: var(--primary-color);
  --n-item-icon-color-active-hover-horizontal: var(--primary-color);
}

.n-menu-item-content-header {
  /*margin-top: 2px;*/
}
